.today-order {
  width: 1024px;
  h1 {
    font-size: 30px;
  }
  .today-order-circles {
    display: flex;
    justify-content: space-between;
  }
}

.today-order-list {
  width: 1024px;
  h1 {
    font-size: 30px;
  }
}
