.modal-footer {
  pointer-events: auto;
}

#menuModal {
  // width: 757px;
  // max-width: 1020px;
  background: #f8fbff;
  padding: 21px;
  // position: fixed;
  // left: calc((100% - 757px) / 2);
  // height: auto;
  // top: calc((100% - 500px) / 2);
  border-radius: 11px;

  form[name="menuForm"] {
    width: 100%;
  }

  .row {
    margin: 0;
  }

  .input-group {
    margin-bottom: 2px;
  }

  > .input-group:last-child {
    margin-bottom: 0;
  }

  .content-inner-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: none;
  }

  @media (max-width: 992px) {
    .content-inner-wrap {
      flex-direction: column-reverse;
    }
    .left-wrap {
      width: 230px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .content-inner-wrap .input-group-wrap {
      width: 100%;
    }
    .period .form-control {
      font-size: 14px;
    }
  }

  .input-group-prepend {
    width: 9%;
    min-width: 87px;
  }

  .input-group-prepend .input-group-text {
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
  }

  .menu-image {
    width: 230px;
    border: 1px solid #6c757d;
    box-sizing: border-box;
  }

  .input-group-wrap {
    width: 478px;
  }
  img {
    width: 100%;
  }

  .half {
    width: 50%;
  }

  .category .input-group-append .dropdown-toggle {
    display: block;
    width: 100%;
    background: white;
  }

  .category .input-group-append {
    width: calc(100% - 87px);
    margin-left: 0;
  }

  .category .btn-outline-secondary:hover {
    color: #6c757d;
  }

  label.choice {
    margin-right: 0;
    margin-bottom: 0;
  }

  .form-control {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .monthly .input-group {
    width: 68px;
    /* display: flex; */
    margin-right: 17px;
    line-height: 1.15;
  }

  .period .form-control {
    justify-content: space-around;

    input {
      text-align: center;
      font-weight: 300;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
      outline: 0;
    }
  }

  .monthly .input-group input[type="radio"] {
    margin-right: 9px;
  }

  .options {
    .form-control {
      font-size: 14px;
      height: 38px;
    }
  }

  .left-wrap .reg-image__button {
    width: 100%;
    margin-top: 5px;
  }

  .modal-footer {
    border-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .modal-footer .btn {
    width: 105px;
  }
}
