.header-container {
  display: flex;
  align-items: center;
  height: 70px;
  .header {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    margin: 0;
  }
}
