@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");
@import "./colors.scss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: rgba(250, 250, 250, 0.5);
}

#root {
  .main-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 65px);
  }

  .content-head h3 {
    color: rgb(33, 37, 41);
    font-size: 32px;
    font-weight: 500;
  }

  .content-table {
    min-width: 932px;
  }

  /* 모달 공통 */
  .modal .modal-dialog {
    max-width: none;
    margin: 0;
  }

  .modal .row {
    margin: 0;
  }

  .modal .input-group * {
    border-radius: 0;
    border-color: #6c757d;
  }

  .modal .input-group {
    margin-bottom: 2px;
  }

  .modal > .input-group:last-child {
    margin-bottom: 0;
  }

  .modal .modal-content {
    flex-direction: row;
    justify-content: space-between;
    background: none;
  }

  /* 주문 모달 */
  #orderModal {
    width: 757px;
    background: hsla(207, 90%, 54%, 0.8);
    padding: 21px;
    position: fixed;
    left: calc((100% - 757px) / 2);
    height: auto;
    top: calc((100% - 500px) / 2);
    border-radius: 11px;
  }

  #orderModal .input-group-prepend {
    width: 9%;
    min-width: 87px;
  }

  #orderModal .input-group-prepend .input-group-text {
    width: 100%;
    justify-content: center;
  }

  #orderModal .input-group-wrap {
    width: 100%;
  }

  #orderModal.modal.fade .modal-dialog {
    /* transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,0);
    transform: translate(0,0); */
  }

  /* 메뉴 모달 */
  #menuModal {
    width: 757px;
    background: hsla(207, 90%, 54%, 0.8);
    padding: 21px;
    position: fixed;
    left: calc((100% - 757px) / 2);
    height: auto;
    top: calc((100% - 500px) / 2);
    border-radius: 11px;
  }

  #menuModal .input-group-prepend {
    width: 9%;
    min-width: 87px;
  }

  #menuModal .input-group-prepend .input-group-text {
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
  }

  #menuModal .menu-image {
    width: 230px;
  }

  #menuModal .input-group-wrap {
    width: 430px;
  }
  img {
    width: 100%;
  }

  .half {
    width: 50%;
  }

  #menuModal .category .input-group-append .dropdown-toggle {
    display: block;
    width: 100%;
    background: white;
  }

  #menuModal .category .input-group-append {
    width: calc(100% - 87px);
    margin-left: 0;
  }

  #menuModal .category .btn-outline-secondary:hover {
    color: #6c757d;
  }

  #menuModal label.choice {
    margin-right: 0;
    margin-bottom: 0;
  }

  #menuModal .form-control {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  #menuModal .monthly .input-group {
    width: 68px;
    /* display: flex; */
    /* justify-content: space-between; */
    margin-right: 17px;
    line-height: 1.15;
  }

  #menuModal .monthly .input-group input[type="radio"] {
    margin-right: 9px;
  }

  #menuModal .left-wrap .reg-image__button {
    width: 100%;
    margin-top: 5px;
  }

  #menuModal .modal-footer {
    border-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  #menuModal .modal-footer .btn {
    width: 105px;
  }

  /* 주문관리 */
  .order-circle {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
  }

  .today-board-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }

  .today-board-list {
    max-width: 1024px;
  }

  .order-list__section,
  .today-board__section {
    max-width: 1248px;
  }
}
